/* GLOBAL */
* {
  font-family: 'Roboto';
}
.App {
  text-align: center;
  background-color: #0D2436;
  color: #FFFFFF;
}

button {
  cursor: pointer;
}

/* CATEGORY STYLES */

.category {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.category .list {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.category-title {
  text-align: left;
  padding-left: 10px;
  /* width: 100%; */
  background-color: grey;
}

/* CARD */

.card {
  background-color: #009B86;
}

.card:hover {
  background-color:  #34AC9C;
  color: #CCCCCC;
}

.card {
  width: calc((100% - 50px) / 3); 
  height: 350px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
}
.card img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 10px;
  /* margin-bottom: 20px; */
}

.card button {
  margin-bottom: 10px;
  background-color: grey;
  padding: 5px 10px;
  border: #0D2436 1px solid;
  border-radius: 5px;

  color: #FFFFFF;

}

.card.selected button {
  margin-bottom: 10px;
  appearance: none;
  background-color: #34AC9C;
  border: #FFFFFF 1px solid;


}

.card.selected {
  background-color: #009B86;
}

/* MODAL */

.modal {
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  align-items: center; 
  justify-content: center;
}

.modal div{
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 5px;
  display:flex;
  flex-direction: column;
  position: relative;
}

.modal div button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.modal p {
  color: #0D2436;
}

/* SUBMIT BUTTON */

.submitButton {
  background-color: #009B86;
  appearance: none;
  justify-self: end;
  margin-bottom: 20px;
  margin-right: 50px;
  cursor: pointer;
  color: #FFFFFF;
  border-radius: 10px;
  border: #009B86 1px solid;
  padding: 15px 25px;
  font-weight: 700;
}

.submitButton:hover {
  background-color:  #34AC9C;
  color: #CCCCCC;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}
@media (max-width:555px) {
  .card {
    width: 85%;
    margin: 0 auto;
  }
  .submitButton {
    margin: 20px auto;
  }
}
